*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	position: relative;
	min-height: 100%;
	height: 100%;
}

body {
	background: #ccc;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-weight: normal;
	padding: 20px;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

tr {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

td {
	border-right: 1px solid rgba(0, 0, 0, 0.5);
}

td,
th {
	text-align: center;
	padding: 8px;
	vertical-align: middle;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

tr:nth-child(odd) {
	background-color: #d0d0d0;
}

th:first-child {
	font-weight: bold;
	text-align: center;
}

th {
	border-right: 1px solid rgba(0, 0, 0, 0.05);
}

th:last-child {
	border-right: 0;
}

tr:first-child {
	font-weight: bold;
}

th:first-child>tr:first-child {
	border-right: 0;
}

tr:first-child>th {
	padding: 15px;
}

img {
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
