html {
	height: 100%;
}

body {
	background: #222;
	margin: 0px;
	font-family: Verdana;
	color: #ccc;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

#container {
	padding: 0px 25px 25px 25px;
	flex: 1;
	margin: 0 auto;
}

footer {
	background: #282828;
	border-top: 2px solid rgba(0, 0, 0, 0.25);
	padding: 0 25px;
}

header {
	background: #282828;
	padding: 15px 25px;
	border-bottom: 2px solid rgba(0, 0, 0, .25);
}

nav {
	text-align: center;
}

nav a,
nav a:visited,
nav a:active {
	font-size: 1.5em;
	margin-right: 25px;
	color: white;
}

a:hover {
	color: crimson !important;
}

a,
a:visited,
a:active {
	color: white;
	text-decoration: none;
}

.selected {
	background: rgba(0, 0, 0, 0.25);
	padding: 5px;
	border-radius: 5px;
}

figure {
	width: auto;
	height: auto;
	display: inline-block;
	background: rgba(0, 0, 0, 0.25);
	padding: 5px;
	border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: white !important;
}

#PCHeadline {
	padding-bottom: 10px;
	width: 100%;
	border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

#specList>ul>li {
	color: crimson;
}

ul>li>ul>li {
	color: #ccc;
}

.box {
	padding: 05px 15px;
	margin: 25px;
	background: rgba(0, 0, 0, 0.25);
}

.twoColumn {
	display: flex;
	padding-bottom: 15px;
	margin-top: -15px;
}

.left {
	flex: 0 50%;
}

.right {
	flex: 1;
}

.smalltext {
	font-size: 0.75em;
	font-weight: normal;
}

.date {
	color: #ccc;
	font-style: italic;
}

.jobTitle {
	color: crimson;
}

span.edu {
	color: crimson;
}

.pushDown {
	padding-top: 25px;
}

#map {
	height: 400px;
	width: 800px;
}
